header {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

h1 {
  font-family: "Kaushan Script", cursive;
  text-shadow: 2px 2px #efa89e;
}

i {
  color: gray;
  position: relative;
  left: 8%;
}

input {
  width: 60%;
  padding: 8px;
  font-style: italic;
}
a {
  text-decoration: none;
}

a:link {
  color: white;
}

a:hover {
  color: #efa89e;
}

/* a:visited {
  color: black;
} */

app-products {
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 15px;
}
