div {
  border-bottom: 1px solid #ffe7e3;
  width: 25%;
  background-color: white;
  margin-left: 50px;
}

button {
  background-color: transparent;
  border: none;
  color: #efa89e;
  position: relative;
  left: 60%;
  margin-bottom: 10px;
}
