body {
  background-image: url("assets/pink-glass.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100%;
  font-family: "PT Sans Narrow", sans-serif;
}
